<%= header({url: url, title: title, description: lang.description_category(title), lang: lang, version: version}) %>
<%= sidebar({category_active: category_active}) %>
<div id="container">
  <% articles.forEach(function (article) { %>
      <section class="list">
          <h1><%- article.text %></h1>
          <time><%= lang.date(article.update) %></time>

          <% if (article.image){ %>
            <a href='/media/<%= article.image %>'><img src='/media/<%= article.image %>' /></a>
          <% } %>

          <ol>
            <% article.sub.select.forEach(function (answer) { %>
              <li<%= answer.id === article.correct_id ? ' class="correct"' : '' %>><%= answer.text %></li>
            <% }) %>
          </ol>
      </section>
  <% }) %>
  <script>
    document.querySelectorAll('.list ol').forEach(function (item) {
      var correct = item.querySelectorAll('.correct')[0];
      item.onclick = function () {
        correct.setAttribute('data-highlight', '');
        correct.clientHeight;
        correct.removeAttribute('data-highlight');
      };
    })
  </script>
  <nav class="pages">
      <% if (page.active > 1) { %>
          <a class="pages-prev" href="<%= url + (page.active > 2 ? '/' + (page.active - 1) : (url.length === 0 ? '/' : '')) %>"><%= lang.previous %></a>
      <% } %>
        <span><%= page.active %>. <%= lang.page %></span>
      <% if (page.active < page.total) { %>
          <a class="pages-next" href="<%= url + '/' + (page.active + 1) %>"><%= lang.next %></a>
      <% } %>
  </nav>
</div>
<%= footer %>
