<%= header({url: url, title: title, description: description, image: image, lang: lang, version: version})%>

<div id="container">
<%= starred %>

    <div>
        <div class="container-block">
            <% articles.forEach(function (article) { %>
                <section class="list">
                    <h1><a href="/<%= article.url %>" title="<%- article.title %>"><%- article.title %></a>
                        <time><%= lang.date(article.date) %></time>
                    </h1>
                    <% if (article.video) { %>
                        <%= article.video %>
                    <% } else { %>
                        <a href="/<%= article.url %>" title="<%- article.title %>"><img alt="<%- article.img_title || article.title %>" title="<%- article.img_title || article.title %>" src="<%= article.img %>" /></a>
                    <% } %>
                    <p>
                        <%= article.intro %>
                    </p>
                    <a href="/<%= article.url %>"><%= lang.read_more %></a>
                </section>
            <% }) %>
            <nav class="pages">
                <% if (page.active > 1) { %>
                    <a class="pages-prev" href="<%= url + (page.active > 2 ? '/' + (page.active - 1) : (url.length === 0 ? '/' : '')) %>" title="<%= lang.next %>"><%= lang.next %></a>
                <% } %>
                <% if (page.active < page.total) { %>
                    <a class="pages-next" href="<%= url + '/' + (page.active + 1) %>" title="<%= lang.previous %>"><%= lang.previous %></a>
                <% } %>
            </nav>
        </div>
        <%= sidebar %>
    </div>
</div>
<%= footer %>
© 2019 Git
